* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.column,
.colum {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    display: flex;
    gap: 10px;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    transition: all .1s linear;
    align-items: center;
}

button:active {
    scale: .85;
}

.btn {
    font-size: 16px;
    background: linear-gradient(0, #FFDC83, #FBD26A, #C17024, #E3A548);
}

.shadow_button {
    box-shadow: 0 0 48px #F0C05C;
}

aside {
    display: none;
    backdrop-filter: blur(18px);
    z-index: 800;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

/*! header */
header {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    color: white;
    z-index: 100;
}

.header {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.open {
    font-size: 32px;
    cursor: pointer;
}

.header a {
    color: white
}

.orange {
    color: #DDA046;
}

.tel .orange {
    text-shadow: 0 0 18px #D3BE88;
}

.tel button {
    width: 140px;
    height: 46px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    color: white;
    gap: 10px;
}

/*! aside */
aside {
    /*display: block;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    background: #ffffff75;
    backdrop-filter: blur(18px);
    height: 100vh;
    padding: 30px;
}

aside .section {
    justify-content: space-between;
}

aside ul,
ol {
    list-style-type: none;
}

aside ul {
    margin: 30px 0 0 50px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.close {
    font-size: 30px;
}

/*! footer */
footer {
    background: #1D1A14;
    margin-top: 100px;
}

.footer {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
}

.footer .colum {
    width: 220px;
}

.footer,
.footer a {
    color: #ffffff7c;

}

.footer .colum img {
    width: 20px;
}

.footer li {
    list-style-type: none;
    margin: 10px 0;
}

.footer h3 {
    color: white;
}

#gotop {
    width: 30px;
    align-self: flex-start;
    cursor: pointer;

}

.footer .section {
    align-items: center;
}

/* ! main */
main {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

section {
    max-width: 1280px;
    margin: auto;
}

.max-width {
    width: 100%;
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white
}

.section1 .fon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section1 h1 {
    text-transform: uppercase;

}

.section1 .column {
    padding: 90px 0;
    width: 600px;
}

.section1 .btn_banner {
    width: 160px;
    background: #ffffffa6;
    color: #000;
}

.section1 .btn_banner:hover {
    background: #DDA046;
}

.section1 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    background: #cccbcb9d;
    margin: 30px;
    color: #000;
}

.small {
    font-weight: 500;
}

.section2 .colum {
    width: 340px;
    height: 476px;
    position: relative;
    background: white;
    color: #000;
    padding: 30px;
}

.section2 .colum:hover {
    background: #DDA046;
    color: white;
}

.section2 .colum .cercle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #DDA046;
    border-radius: 50%;
}

.section2 .colum:hover .cercle {
    background: #fff;
}

.section2 .colum img {
    position: absolute;
    bottom: 0;
    left: 0px;
}